{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/preset-env",
    "nano-react-app"
  ]
}